@import url(https://fonts.googleapis.com/css?family=Merriweather:400italic);
@import url(https://fonts.googleapis.com/css?family=Lato);

* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-image: url('../images/violinbackground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #FAFAFA;
	font-family: 'Lato', sans-serif;
}
header {
	border-bottom:2px solid #ffffff;
}

h1 {
	font-family: 'Merriweather', serif;
	font-weight: 400;
}

section#slogan {
	font-weight: strong;
}

p {
	max-width: 550px;
}
#slogan {
	font-weight: bold;
}
