* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-image:url('violinbackground.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	color: #FAFAFA;
	font-family: 'PT Sans', sans-serif;
}

h1 {
	font-family: 'Georgia', 'Noto Serif', serif;
	font-weight: normal;
}

section#slogan {
	font-weight: bold;
}

p {
	max-width: 550px;
}